<style>
  .bmi{
    height: 4vh;
    width: 4vh;
  }
  .pi{
    height: 4vh;
    width: 4vh;
  }
  .oi{
    height: 3.5vh;
    width: 3.5vh;
  }
  .oi:active{
    content: url("presentation/assets/images/starselected.png");
  }
  .vnavbar{
    display: flex;
    position: sticky;
    top: 0px;
    flex-direction: column;
    justify-content: start;
    background-color: rgb(250, 130, 170);
    height: 100vh;
    box-sizing: border-box;
    width: fit-content;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .group{
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: start;
    margin-bottom: 10vh
  }
  .group img:hover{
    cursor: pointer;
  }
</style>
<div class="vnavbar" #vnavbar>
  <div class="group">
    <img class="bmi" src="presentation/assets/images/stack_burgermenu.png" alt="burger menu icon">
  </div>
  <div class="group">
    <img class="pi" style="margin-bottom: 5vh;" src="presentation/assets/images/log-in.png" alt="login icon">
    <img class="pi" src="presentation/assets/images/bookmark_14266328.png" alt="my bookmarks">
  </div>
  <div class="group">
    <img class="oi" style="margin-bottom: 4vh;" src="presentation/assets/images/starnotselected_5022135.png" alt="libros">
    <img class="oi" style="margin-bottom: 4vh;" src="presentation/assets/images/starnotselected_5022135.png" alt="autores">
    <img class="oi" src="presentation/assets/images/starnotselected_5022135.png" alt="editoriales">
  </div>
</div>
