<style>
    .main-box{
        display: block;
        background-color: rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(10px);
        padding: 
            clamp(6px, 0.6em, 12px)
            clamp(8px, 0.8em, 16px)
            clamp(14px, 1.2em, 24px)
            clamp(8px, 0.8em, 16px);
        animation: fade-out 1s 4s forwards;
    }
    span{
        display: block;
        font-size: clamp(18px, 1.4em, 44px);
        color: aliceblue;
        letter-spacing: clamp(0.6px, 0.06em, 1.2px);
        word-spacing: clamp(1px, 0.08em, 2px);
        text-align: justify;
    }
    @keyframes fade-out {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}
</style>
<div class="main-box">
    <span>{{message}}</span>
</div>
