.content-card{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3.5em;
    justify-content: center;
    padding-top: 2em;
    padding-bottom: 4em;
    margin-top: 2.5em;
    margin-bottom: 2.5em;
    background-color: rgb(255, 240, 248);
    border-radius: 1rem;

}
.section-title{
    margin-top: 8vh;
    font-size: clamp(24px, 3em, 34px);
    text-indent: 2rem;
}